
  .add-task .form-container form {
    box-shadow: rgba(255, 255, 255, 0.75) 0px 5px 20px; 
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    min-height: 43vh;
    
  }
  
  .add-task .form-container form .title {
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    color: rgb(46, 16, 86);
  }
  
  .add-task .form-container form input {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    width: 35vh;
    /* text-align: center; */
  }
  
  .register-bg .form-container form button {
    border: 1px solid black;
    border-radius: 0;
    background-color: #000;
    color: white;
    width: 100%;
  }
  
  .add-task .form-container form button:hover {
    border: 1px solid black;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #5f3079,
      #1e1e1e
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #5f3079,
      #1e1e1e
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .add-task .forgot-btn {
    background-color: #434343a4 !important;
    border: 0 !important;
  }
  
  .add-task .forgot-btn:hover {
    color: white !important;
  }